{%extends 'ForgotPasswordProcess/ForgotPasswordTemplate.html'%}

{% block head %}
    <title>Forget Password</title>
{% endblock %}

{% block body %}
    <section class="nav-bar">
        <div class="nav-bar_container">
            <a href="/" class="nav-bar_brand">
                <h1>Youtube Analysis Web Page</h1>
            </a>
            <div class="nav-bar__menu">
                <a href="login.html"><h1>Login</h1></a>
                <a href="signup.html"><h1>Sign Up</h1></a>
            </div>
        </div>
    </section>
    <h1>Forgot Password</h1>
    <p>Please Enter Your Username to continues</p>
    <section class="section_form">
        <div class="form-box">
            <div class="form-value" id="formValue">
                <form action="/ForgotPassword" method="POST">
                    <input type="hidden" name="_method" value="PUT">
                    <input type="hidden" name="id_Page" value="response_2">
                    <h2>Forgot Password</h2>
                    <div class="inputbox">
                        <ion-icon name="person-outline"></ion-icon>
                        <input type="text" id="verification_code" name="verification_code" required>
                        <label for="verification_code">Verification Code</label>
                    </div>
                    <button class="Cancelbtn_" id="Cancel_btn">Cancel</button>
                    <button class="Continuesbtn_" type="submit">Continues</button>
                </form>
            </div>
        </div>
    </section>

    <script>
        function handleClick() {
            window.location.href = 'https://webanalysisspark-6b94ca80dba0.herokuapp.com/ForgotPassword/Back';
        }
        var button = document.getElementById('Cancel_btn');
        button.addEventListener('click', handleClick);
    </script>

{% endblock %}
