<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Channel Analysis</title>
    <link rel="stylesheet" href="../static/css/analysis.css" />
      <link rel="stylesheet" href="../static/css/Loading.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    />
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/chartjs-plugin-annotation/1.0.2/chartjs-plugin-annotation.min.js"></script>
    <script src="../static/scripts/analysis.js"></script>

      <style>
        body {
            opacity: 0;
            transition: opacity 3s;
        }
        .loading-content {
            display: flex;
              height: 100vh;
              align-items: center;
              justify-content:center;
              flex-direction: column;
        }
        .main-content {
            display: none;
        }
    </style>
  </head>

  <body onload="document.body.style.opacity='1'">

  <div class="loading-content">
        <div class="bouncing-text">
          <div class="L">L</div>
          <div class="O">O</div>
          <div class="A">A</div>
          <div class="D">D</div>
          <div class="I">I</div>
          <div class="N">N</div>
            <div class="G">G</div>
          <div class="first">.</div>
          <div class="second">.</div>
          <div class="third">.</div>
          <div class="shadow"></div>
          <div class="shadow-two"></div>
        </div>
        <div class="loading-bar">
          <div class="progress" id="progress"></div>
            <div class="progress-text" id="progress-text">0%</div>
        </div>
  </div>

 <div class="main-content">
    <div class="sectionNav">
      <div class="nav-bar">
        <nav class="navbar">
          <a class="navbar-brand" href="/" methods="GET">Youtube Analysis Web Page</a>
          <div class="collapse navbar-collapse Link" id="navbarNav">
            <ul class="navbar-nav">
              <li class="nav-item active">
                <a class="nav-link" href="/" methods="GET">Home</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/Analysis" methods="GET">Analysis</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/History" methods="GET">History</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Profile</a>
              </li>
            </ul>
          </div>
          <form class="logout_button_form" action="/Logout" method="GET">
                  <button type="submit">Logout</button>
          </form>
        </nav>
      </div>
    </div>

    <div class="section1">
      <center><h1>Welcome to Channel <span class="channel_name" id="channel_name" style="color: darkred; font-weight: bold;" content="">@Placeholder</span>Stats</h1></center>
      <button id="scrollButton">Scroll Down</button>
    </div>

    <div class="section2" id="section2">
      <h1>Summary Reports</h1>
      <div class="flex-container">
        <div class="flex-item">
          <div class="flex-title">Total Views</div>
          <div class="flex-value">Placeholder</div>
        </div>
        <div class="flex-item">
          <div class="flex-title">Total Likes</div>
          <div class="flex-value">Placeholder</div>
        </div>
        <div class="flex-item">
          <div class="flex-title">Total Dislikes</div>
          <div class="flex-value">Placeholder</div>
        </div>
        <div class="flex-item">
          <div class="flex-title">Total Engagement</div>
          <div class="flex-value">Placeholder</div>
        </div>
      </div>
    </div>

    <div class="section3">
      <h1>Graph Reports</h1>
      <div class="chart-container-flex">
        <div class="chart-container">
            <canvas id="MonthlyViews"></canvas>
        </div>
        <div class="chart-container">
            <canvas id="MonthlyLikes"></canvas>
        </div>
        <div class="chart-container">
            <canvas id="MonthlyDislikes"></canvas>
        </div>
        <div class="chart-container">
            <canvas id="MonthlyEngagement"></canvas>
        </div>
      </div>
    </div>

    <div class="section4">
        <h1>Table Reports</h1>
        <div class="table-container_">
            <table id="data-table">
                <thead>
                    <tr>
                        <th id="VideoID">Video ID</th>
                        <th id="VideoTitle">Video Title</th>
                        <th id="ViewCount">Number Of Views</th>
                        <th id="LikeCount">Number Of Likes</th>
                        <th id="DislikesCount">Number Of Dislikes</th>
                        <th id="CommentsCount">Number Of Comments</th>
                        <th id="Details">Additional Information</th>
                    </tr>
                </thead>
                <tbody id="table-body">

                </tbody>
            </table>
        </div>
    </div>

    <div class="footer">
        <button id="backToTop">Back To Top @NolanM</button>
    </div>
    </div>
  <script>
      const progressBar = document.getElementById('progress');
        const progressText = document.getElementById('progress-text');
        const totalTime = 20000;
        const updateInterval = totalTime / 100;
        let progress = 0;
        function updateProgress() {
          progress++;
            progressBar.style.width = progress + '%';
            progressText.textContent = progress + '%';

          if(progress >= 45 && progress < 50) {
            progressText.textContent = "Half Wayy!!!";
          }
          if(progress == 50)
          {
              progressBar.style.width = progress + '%';
          }
          if(progress >= 65 && progress < 75) {
              progressText.textContent = "Almost There!!!";
          }
          if(progress == 80)
          {
              progressBar.style.width = progress + '%';
          }
          if(progress >= 85 && progress < 100) {
            progressText.textContent = "1 Second!!!";
          }
          if(progress == 100)
          {
              progressBar.style.width = progress + '%';
          }
          if (progress >= 100) {
            clearInterval(progressInterval);
          }
        }
        function getCookie(key) {
            const cookie = document.cookie;
            const cookieArray = cookie.split(';');
            for (let i = 0; i < cookieArray.length; i++) {
                const cookieItem = cookieArray[i].split('=');
                if (cookieItem[0].trim() === key) {
                    return cookieItem[1];
                }
            }
            return '';
        }

        const is_cached = getCookie('cached_valid');
        if(is_cached == "False" || is_cached == null)
        {
            const progressInterval = setInterval(updateProgress, updateInterval);
            setTimeout(() => {
                document.querySelector('.loading-content').style.display = 'none';
                document.querySelector('.main-content').style.display = 'block';
                document.body.style.transition = 'opacity 5s';
                document.body.style.opacity = '1';
            }, 20000);
        }
        else
        {
            document.body.style.opacity = '0';
            document.querySelector('.loading-content').style.display = 'none';
            setTimeout(() => {
                document.body.style.transition = 'opacity 5s';
                document.body.style.opacity = '1';
                document.querySelector('.main-content').style.display = 'block';
            }, 2000);
        }
    </script>
  </body>
</html>
